# Rsync SSH Configuration
RSYNC_SSH_HOST=user@your-server.com
RSYNC_SSH_PORT=22
RSYNC_REMOTE_PATH_RELEASES_FOLDER=/path/to/your/folder/

# Optional: Download Base URL - just for informal output of the download link of the uploaded file
DOWNLOAD_BASE_URL=https://your-domain.com/some/path/

# Slack Configuration
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/YOUR/WEBHOOK/URL
